/* Style par défaut pour l'élément range */
input[type='range'] {
  -webkit-appearance: none; /* Supprime le style par défaut de WebKit */
  width: 100%; /* Largeur du range à 100% */
  height: 10px; /* Hauteur du range */
  background: #df9928; /* Couleur de fond du range */
  border-radius: 5px; /* Coins arrondis */
  outline: none; /* Supprime la bordure par défaut du focus */
  opacity: 0.7; /* Opacité de l'élément */
  -webkit-transition: 0.2s; /* Transition pour un changement fluide */
  transition: opacity 0.2s;
}

/* Style pour la barre de progression du range */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%; /* Largeur de la barre de progression à 100% */
  height: 10px; /* Hauteur de la barre de progression */
  background: #df9928; /* Couleur de fond de la barre de progression */
  border-radius: 5px; /* Coins arrondis */
}

/* Style pour le "thumb" du range (la poignée) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Supprime le style par défaut de WebKit pour le "thumb" */
  width: 25px; /* Largeur du "thumb" */
  height: 25px; /* Hauteur du "thumb" */
  background: #df9928; /* Couleur de fond du "thumb" */
  border: 0.1rem solid white;
  border-radius: 50%; /* Forme circulaire du "thumb" */
  cursor: pointer; /* Curseur personnalisé */
  margin-top: -7px; /* Ajustement vertical */
}

.alignement-range-bar {
  display: flex;
}
.range-bar {
  width: 100%;
  margin: 0rem 1rem;
}
