.container-bottom{
    padding: 1rem 2rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.start-barathon{
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}
.section-container{
    display: flex;
    justify-content: space-around;
}
.section{
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}
.localisation-container{
    margin: 0rem 1rem;
}
.bar-name{
    font-weight: bold;
}
.beer-icon{
    width: 2rem;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.number-information{
    text-align: center;
    font-weight: bold;
}

.back-menu{
    width: 1.3rem;
}
.container-back-menu{
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    align-items:center ;
}
.text-back-menu{
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
}